<html>
    <head>
        <style>
        body {
            background-color: blueviolet
        }
        </style>
    </head>
    <body>
        <h1>
            Student name and id
        </h1>
        <h2>
            You have requested the student name :<%= name %>
        </h2>
        <p>
            Id : <%= id %>
        </p>
    </body>
</html>